[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm.git
