[Unit]
Description=Run battery monitor script every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=battery-monitor.service

[Install]
WantedBy=timers.target
