#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

start_bspwm () {
    # run the remaps script, switching caps/esc and more
    [ -f "$HOME/.local/bin/remaps" ] && "$HOME/.local/bin/remaps"
    # set the background with the `setbg` script
    [ -f "$HOME/.local/bin/setbg" ] && "$HOME/.local/bin/setbg"
    # lock screen with xsecurelock
    [ -f "$HOME/.local/bin/setscreensaver" ] && "$HOME/.local/bin/setscreensaver"
    # launch polybar
    [ -f "$HOME/.config/polybar/launch.sh" ] && "$HOME/.config/polybar/launch.sh" &

    setsid -f picom --config ~/.config/picom/picom.conf 

    autostart="dunst unclutter sxhkd flameshot copyq"

    for program in $autostart; do
            pidof -s "$program" || setsid -f "$program"
    done >/dev/null 2>&1

    exec bspwm
}

session=${1:-bspwm}

case $session in
    bspwm           ) start_bspwm;;
    kde             ) exec startplasma-x11;;
    *               ) exec $1;;
esac
